{% extends "index.html" %}
{% block title %}Define Discounts{% endblock %}

{% block content %}
  <h2>Define a Time-Limited Discount</h2>
  <form method="post">
    <label>Menu Item:</label>
      <label>
          <select name="menu_item_id" required>
            {% for item in menu_items %}
              <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
          </select>
      </label><br><br>

    <label>Discount (%):</label>
      <label>
          <input type="number" name="amount" min="1" max="100" required>
      </label><br><br>

    <label>Start Date:</label>
      <label>
          <input type="datetime-local" name="start_date" required>
      </label><br><br>

    <label>Finish Date:</label>
      <label>
          <input type="datetime-local" name="finish_date" required>
      </label><br><br>

    <button type="submit">Add Discount</button>
  </form>
    <a href="{{ url_for('manager') }}" style="text-decoration: none;">
  <button style="margin-top: 1em; padding: 0.5em 1em;">← Back to Dashboard</button>
</a>

{% endblock %}
