ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: "🍽️ ";
    margin-right: 5px;
}


.counter {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.counter button {
    width: 28px;
    height: 28px;
    font-size: 18px;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;   
    background: #535353;
    cursor: pointer;
    margin: 0 2px;
    transition: background 0.2s;
}
.counter button:hover {
    background: #d0eaff;
}
.counter span {
    min-width: 20px;
    display: inline-block;
    text-align: center;
}

.flashed-messages {
    background: #e0ffe0;
    border: 1px solid #4caf50;
    color: #333;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.flashed-messages ul {
    margin: 0;
    padding-left: 20px;
}
.flashed-messages li {
    list-style: disc;
}
.flashed-messages li::before {
    content: "✔️ ";
    margin-right: 5px;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.menu-buttons button {
    min-width: 120px;
    padding: 10px 20px;
    font-size: 16px;
}